<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configuration Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1"><a href="/">Configuration Manager</a></span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <div class="row">
            <div class="col-md-12 text-center">
                @if (TempData["SuccessAlert"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessAlert"]
                    </div>
                }

                @if (TempData["ErrorAlert"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorAlert"]
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
